/* Scroll bar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, darkred 0%, red 100%);
    border-radius: 5px;
}

/* Drag */

#drag {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #dragheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

/* Main CSS */

body{
    height: 100vh;
}

main .main-card{
    overflow-y: scroll; height:85vh; overflow-x:hidden;
}

img.product-img{
    object-fit:cover; 
    height:250px; 
    width:250px;
}

.btn-sell{
    width: 60px;
}

/* responsive */

@media screen and (max-width: 425px) {
    .card .card-body .card-title{
        font-size: 16px;
    }
    .card .card-body .card-text{
        font-size: 12px;
    }
    .card .card-body button{
        font-size: 12px;
    }
}
  